#team-banner {
  width: 400px;
  height: 97px;
  background-color: var(--main-bg-color);
  border: 1px solid var(--main-border-color);
  border-radius: 0 0 40px 0;

  #team-join-code {
    color: var(--main-text-color);
    text-align: center;
  }
}

#consensus {
  background-color: var(--main-bg-color);
  border: 1px solid var(--main-border-color);
  height: 250px;
  width: 350px;
  border-radius: 0 0 0 40px;

  #consensus-points {
    color: var(--main-text-color);
    font-size: 10em;
    text-align: center;
    line-height: 155px;
  }
}

#header {
  color: var(--main-text-color);
  margin-top: 15px;
  text-align: center;
  font-size: 3em;  
}

#reasons {
  background: var(--main-bg-color);
  border: 1px solid var(--main-border-color);
  border-radius: 40px 0 0 40px;
  height: 500px;
  width: 350px;
  margin-top: 40px;
}

#reasons {
  padding: 35px 0 35px 35px;

  .reason {
    margin-top: 15px;
    margin-left: 40px;

    .reason-title {
      color: var(--main-text-color);
      font-size: 2em;
    }
    
    .reason-description {
      color: #C9D1D9;
      opacity: 0.5;
      font-style: italic;
      font-size: 1em;
    }
  }
}

