#team-banner {
  width: 400px;
  height: 97px;
  background-color: var(--main-bg-color);
  border-width: 0 1px 1px 0;
  border-color: var(--main-border-color);
  border-style: solid;  border-radius: 0 0 40px 0;

  #team-join-code {
    color: var(--main-text-color);
    text-align: center;
    cursor: pointer;
  }
}

#consensus {
  background-color: var(--main-bg-color);
  border-width: 0 0 1px 1px;
  border-color: var(--main-border-color);
  border-style: solid;
  height: 250px;
  width: 350px;
  border-radius: 0 0 0 40px;

  #consensus-points {
    color: var(--main-text-color);
    font-size: 10em;
    text-align: center;
    line-height: 155px;
  }
}

#header {
  color: var(--main-text-color);
  margin-top: 15px;
  text-align: center;
  font-size: 3em;
}

#reasons {
  background: var(--main-bg-color);
  border-width: 1px 0 1px 1px;
  border-color: var(--main-border-color);
  border-style: solid;
  border-radius: 40px 0 0 40px;
  height: 550px;
  width: 350px;
  margin-top: 40px;
}

#reasons {
  padding: 35px 0 35px 35px;

  .reason {
    margin-top: 15px;
    margin-left: 10px;

    input[type=checkbox] {
      transform: scale(2);
      margin-right: 20px;
    }

    .reason-title {
      color: var(--main-text-color);
      font-size: 2em;
    }

    .reason-description {
      color: #C9D1D9;
      opacity: 0.5;
      font-style: italic;
      font-size: 1em;
    }
  }
}

.godlike-shake {
  text-shadow: 2px 2px red;
  font-weight: bold;
  font-size: 125%;

  .popover-body {
    animation: .1s shake infinite alternate;
  }
}

@keyframes shake {
  0% { transform: translateX(-3px); }
  25% { transform: translateY(3px); }
  50% { transform: translateX(3px); }
  75% { transform: translateY(-3px); }
  100% { transform: translateX(-3px); }
}
