@import "bootstrap";

#player-cards-container {
    position: absolute;
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 20px;
    width: calc(100% - var(--right-side-panels-widths)); /* subtract right panel width */
    height: 100%;
    top: 0;

    #flip-btn {
        pointer-events: auto; /* required to allow clicking, since parent is set to pointer-events: none */
        z-index: unset;
        position: absolute;
        bottom: 150px;
        width: 150px;
        height: 50px;
        top: 0;
        right: 0;
        margin: 25px 35px 0 0;
    }

    @media screen and (min-height: 1300px) and (min-width: 2100px) {
        .user-card {
            height: 240px;
            width: 180px;

            .initials-icon {
                height: 100px;
                width: 100px;
            }
        }
    }
}